.vs/
x64/
Debug/
Release/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
Win32/
third_party/glfw/out/
third_party/glfw/CMake/
third_party/glfw/deps/
third_party/glfw/docs/
third_party/glfw/examples/
third_party/glfw/tests/
third_party/glfw/CMakeLists.txt

# GLFW vendored subset used by the Visual Studio project
third_party/glfw/src/*
!third_party/glfw/src/context.c
!third_party/glfw/src/egl_context.c
!third_party/glfw/src/init.c
!third_party/glfw/src/input.c
!third_party/glfw/src/monitor.c
!third_party/glfw/src/null_init.c
!third_party/glfw/src/null_joystick.c
!third_party/glfw/src/null_monitor.c
!third_party/glfw/src/null_window.c
!third_party/glfw/src/osmesa_context.c
!third_party/glfw/src/platform.c
!third_party/glfw/src/vulkan.c
!third_party/glfw/src/wgl_context.c
!third_party/glfw/src/win32_init.c
!third_party/glfw/src/win32_joystick.c
!third_party/glfw/src/win32_module.c
!third_party/glfw/src/win32_monitor.c
!third_party/glfw/src/win32_thread.c
!third_party/glfw/src/win32_time.c
!third_party/glfw/src/win32_window.c
!third_party/glfw/src/window.c
!third_party/glfw/src/internal.h
!third_party/glfw/src/mappings.h
!third_party/glfw/src/platform.h
!third_party/glfw/src/null_joystick.h
!third_party/glfw/src/null_platform.h
!third_party/glfw/src/win32_joystick.h
!third_party/glfw/src/win32_platform.h
!third_party/glfw/src/win32_thread.h
!third_party/glfw/src/win32_time.h
